* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f1f1;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 10px;
  width: 700px;
  height: 300px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infos {
  font-size: 1.2rem;
}

.infos > * + * {
  margin-top: 10px;
}


#logoutBtn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1.1rem;
  cursor: pointer;
  justify-self: flex-end;
}

#logoutBtn:hover {
  background-color: #d4392d;
}